*{
    font-family: sans-serif;
}

body{
    background-image: url(./img/pexels-pixabay-531972.jpg);
    background-attachment:fixed;
    background-size:cover;
    background-repeat: no-repeat;
}

.weather{
    background: #17284e8a;
    color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 14vh;
    padding: 50px;
    justify-content: space-around; 
    width: 600px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #17284e;
}
h1{
    display:flex;
    justify-content: center;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

#resetbtn{
    position: absolute;
    background-color: rgba(242, 249, 255, 0.40);
    color: rgb(57, 57, 57);
    border: none;
    height: 55px;
    width: 70px;
    border-top-left-radius: 25px;
    bottom: 0px;
    right: 0;
}